{{yield}}
<article class="listing">
  <h3 class="message">{{rental.commit.message}}</h3>
  <div class="detail owner">
    <span>Name:</span> {{rental.commit.author.name}}
  </div>
  <div class="detail type">
    <span>Application:</span> {{rental.commit.application}}
  </div>
  <br>
  <button class="button" {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <!-- <img src="{{rental.image}}" alt=""> -->
    Details
  </button>
  <!-- <div class="detail location">
    <span>Details:</span>
      {{rental.city}}
  </div>
  <div class="detail bedrooms">
    <span>Number of bedrooms:</span> {{rental.bedrooms}}
  </div> -->
</article>
