{{yield}}
<article class="listing">
  <h3 class="message">{{rental.commit.message}}</h3>
  <div class="detail owner">
    <span>Name:</span> {{rental.commit.author.name}}
  </div>
  <div class="detail type">
    <span>Application:</span> {{rental.commit.application}}
  </div>
  <div>
    <span>Git URL</span> <a href="{{rental.commit.url}}">{{rental.commit.url}}</a>
  </div>
  <br>
  <!-- {{#cp-panel as |p|}}
    {{#p.toggle}}
      <p>Click me!</p>
    {{/p.toggle}}

    {{#p.body}}
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellendus nisi asperiores esse aperiam aliquid nulla ad dolor autem neque, nihil inventore temporibus delectus earum facere corporis, quam ipsum maxime.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus neque magnam, hic quis beatae repellendus harum modi pariatur minus quidem alias! Eius incidunt impedit eaque, est, illo officiis expedita molestiae.</p>
      </div>
    {{/p.body}}
  {{/cp-panel}} -->
</article>
