{{yield}}
<article class="listing">
  <h3 class="message">{{rental.commit.message}}</h3>
  <div class="detail owner">
    <span>Name:</span> {{rental.commit.author.name}}
  </div>
  <div class="detail type">
    <span>Application:</span> {{rental.commit.application}}
  </div>
  <br>
  {{#simple-button class="willsButton"}}
    Expand
  {{/simple-button}}
</article>

<!-- {{#if isExpanded}}
  <div class='body'>{{body}}</div>
  <button {{action 'contract'}}>Contract</button>
{{else}}
  <button {{action 'expand'}}>Show More...</button>
{{/if}} -->
